{% extends 'product_service/template.html' %}

{% block title %} Create Listing {% endblock %}

{% block container %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert
              {% if message.tags == 'error' %}alert-danger
              {% elif message.tags == 'success' %}alert-success
              {% elif message.tags == 'warning' %}alert-warning
              {% elif message.tags == 'info' %}alert-info
              {% else %}alert-primary
              {% endif %} my-3 text-center" role="alert">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}

	<h2 class="my-3">Create new listing</h2>

	<form method="post" enctype="multipart/form-data" class="container shadow rounded create-form mb-3 d-flex flex-column align-items-center">
		{% csrf_token %}
		<div class="container d-flex image-container gap-3 p-3 justify-content-center">
			{{ images_form.management_form }}
			{% for form in images_form %}
				<div class="card text-center p-2 align-self-center">
					{{ form.as_p }}
					{{ form.button }}
				</div>
			{% endfor %}
		</div>
		<div class="align-self-start" style="width: 100%;">
			{{ listing_form.as_p }}
		</div>
		<button type="submit" class="btn btn-success my-3">Create Listing</button>
	</form>
{% endblock %}