{% extends 'product_service/template.html' %}

{% load crispy_forms_tags %}

{% block title %} {{ order.product.product_name }} {% endblock %}

{% block container %}
	<h1 class="my-2 p-2">Create payment</h1>
	<div class="container d-flex">
		<form method="post" action="" class="container shadow rounded">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" class="btn btn-primary mt-3">Confirm payment</button>
		</form>
		<div class="container">
			{{ listing.product_name }}
			{{ listing.product_images.image }}
		</div>
	</div>
{% endblock %}